body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #108389;
    background-image: linear-gradient(336deg, #108389 17%, #021818 100%);

}

.container {
    text-align: center;
    width: 80%;
}

header {
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
    margin-bottom: 0px;
    border-radius: 100px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom:5px;
    text-shadow: 0 1px 1px 0 #000000;
    
}
h2 {
    font-size: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 50px;
    text-shadow: 0 1px 1px 0 #000000;
    
}

.panel-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.panel {
    position: relative;
    width: 45%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
    overflow: hidden;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.male{
    background-image: url('../trainers_photos/trainer_sign.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

.female {
    background-image: url('../trainers_photos/trainee.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

.panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.panel:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent */
}

.female a:hover {
    color: hsl(214, 56%, 74%);
}

.male a:hover {
    color: hsl(214, 56%, 74%);
}

a {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: wheat;
    font-size: 30px;
}



